.lista-jogos {
  list-style: none;
  counter-reset: item;
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-family: monospace;
  font-size: 1rem;
}

.lista-jogos li {
  align-items: center;
  display: flex;
  gap: 8px;
  counter-increment: item;
  padding: 20px;
  background-color: #0d131d;
  border-radius: var(--border-radius);
  border: 1px solid var(--border-1);
}

.lista-jogos li> :last-child {
  margin-left: auto;
}

.lista-jogos li::before {
  content: counter(item);
  margin-right: 8px;
  font-size: 20px;
  min-width: 2ch;
  text-align: right;
  display: inline-block;
}