:root {
  --purple: #5951b8;
  --color-success: #106b40;
  --color-success-glow: #1f975f66;
  --color-danger: #b72f2f;
  --color-danger-glow: #b72f2f66;
  --color-white: #e0e0e0;
  --color-hover: #c6c6c6;
  --color-active: #acacac;
  --background-1: #141b25;
  --background-2: #1c242e;
}